body {
    background: linear-gradient(#abedd86d, #dfcdcd);
    background-repeat: no-repeat;
}

.container {
    margin: 0 auto;
    font-family: 'Shadows Into Light', cursive;
}

h1 {
    display: block;
    text-align: left;
    color: salmon;
    font-stretch: expanded;
}

h2 {
    text-align: center;
    margin: 0 auto;
    color: #0097a7;
    padding: 10px 20px;
}

#attributes {
    text-align: center;
    margin-top: 10px;
}

.mainHeader {
    border: 1px solid #111111;
    border-radius: 6px;
}

h3 {
    font-size: 40px;
}

ul {
    text-align: center;
    text-decoration: none;
    font-family: 'Shadows Into Light', cursive;
    font-size: 25px;
    list-style: none;
    padding: 10px;
    align-content: space-around;
    color: #371C1C;
}

li {
    display: inline-block;
    padding: 20px;
}

#socialMedia a {
    text-decoration: none;
    color: #48466D;
}

#socialMedia a:hover {
    color: salmon;
    font-size: 120%;
}

#education a {
    text-decoration: none;
    color: #48466D;
}

#education a:hover {
    color: salmon;
    font-size: 120%;
}

#experience a {
    text-decoration: none;
    color: #3D84A8;
}

#experience a:hover {
    color: salmon;
    font-size: 120%;
}

#contactInfo a {
    text-decoration: none;
    color: #212121;
}

#contactInfo a:hover {
    color: salmon;
    font-size: 120%;
}

.row {
    margin: 0 20px;
}

#perc-headshot, #code-headshot {
    border-radius: 10px;
    box-shadow: 5px 5px 10px #212121;
    width: 400px;
    height: 400px;
    object-fit: cover;
}

#arrow {
    margin-top: 60px;
    box-shadow: none;
    opacity: 50%;
    border-radius: none;
    align-self: center;
    max-width: 200px;
    max-height: 200px;
    animation: slidein 3s linear infinite forwards;
}

/* Key Frames for headshots with moving arrow */

@keyframes slidein {
    from {
        transform: translateX(0%);
    }
    to {
        transform: translateX(150%);
    }
}

p {
    text-align: justify;
    font-size: 18px;
    color: #0097a7;
    font-family: 'Open Sans', sans-serif;
}

/* .grid {
    display: grid;
    justify-content: center;
    grid-template-columns: 1fr 1fr 1fr;
    row-gap: 20px;
} */

button {
    display: block;
    margin: 20px auto;
    background: #ffffff;
    color: salmon;
    font-family: "Shadows Into Light", cursive;
    font-size: 18px;
    padding: 15px 60px;
    border-radius: 6px;
    box-shadow: 5px 5px 10px #212121;
    transition: all 250ms ease-in-out;
}

button:hover {
    opacity: 0.9;
    cursor: pointer;
    padding: 15px 60px;
    background-color: #48466D;
    color: white;
}

#resume {
    text-decoration: none;
    text-align: center;
    display: block;
    color: #48466D;
    padding: 20px 0px;
    font-size: 20px;
}

#resume:hover {
    color: salmon;
    font-size: 120%;
}

footer {
    text-align: center;
    margin: 0 auto;
}

@media screen and (max-width: 1200px) {
    .container {
        width: 100%;
    }
    .col-3 #perc-headshot, #code-headshot {
        width: 300px;
        height: 300px;
        border-radius: 10px;
        margin: 0 20px;
        width: 100%;
    }
    #arrow {
        max-width: 150px;
        max-height: 150px;
        animation: slidein 4s linear infinite forwards;
        width: 100%;
    }
}

@media screen and (max-width: 900px) {
    .container {
        width: 100%;
    }
    .col-3 #perc-headshot, #code-headshot {
        width: 200px;
        height: 200px;
        border-radius: 10px;
        width: 100%;
    }
    #arrow {
        max-width: 100px;
        max-height: 100px;
        animation: slidein 4s linear infinite forwards;
        width: 100%;
    }
}

@media screen and (max-width: 650px) {
    .container {
        width: 100%;
    }
    .col-3 #perc-headshot, #code-headshot {
        width: 100px;
        height: 100px;
        border-radius: 10px;
    }
    #arrow {
        max-width: 50px;
        max-height: 50px;
        animation: slidein 4s linear infinite forwards;
    }
}

@media screen and (max-width: 320px) {}

@-o-viewport {
    zoom: 1;
    width: 100%;
}

@-ms-viewport {
    zoom: 1;
    width: 100%;
}