body {
    background-color: #abedd86d;
    font-family: 'Shadows Into Light', cursive;
    max-width: 100%;
}

h1 {
    display: block;
    text-align: center;
    font-size: 60px;
    color: #48466D;
    border: thick double lightcoral;
    min-width: 75%;
    max-width: 600px;
    border-radius: 3px;
    margin: 0 auto;
}

h2 {
    text-align: center;
    margin: 0 auto;
    font-size: 40px;
    color: #0097a7;
    border: 3px;
    padding: 0px 20px;
}

ul li {
    justify-content: center;
    list-style-type: none;
    font-size: 22px;
    padding: 0px 40px;
}

ul {
    padding: 0px 40px;
    margin: 10px 100px;
}

.education {
    text-align: left;
    list-style-type: disc;
}

.socialMedia {
    text-align: center;
}

.myContactInfo {
    margin: 0 auto;
    padding: 5px;
    text-align: center;
}

p {
    text-align: justify;
    font-size: 18px;
    text-indent: 20px;
    color: grey;
}

.videoNote {
    margin: 0 auto;
    padding: 20px 40px;
    text-align: center;
    color: #0097a7;
    max-width: 600px;
}

a {
    text-decoration: none;
    color: #48466D;
}

a:hover {
    color: lightcoral;
    font-size: 120%;
}

strong {
    font-weight: bold;
}

form {
    text-align: center;
    display: block;
    margin: 0 auto;
    width: 400px;
    padding: 20px;
    border: 1px solid #111111;
    border-radius: 4px;
}

label {
    display: inline-block;
    width: 90px;
    text-align: right;
}

input, textarea {
    font: 12px 'Shadows Into Light', cursive;
    width: 300px;
    box-sizing: border-box;
    border: 1px solid #111111;
}

input:focus, textarea:focus {
    border-color: #111111;
}

textarea {
    vertical-align: top;
    height: 5em;
}

.button {
    padding-left: 90px;
}

button {
    margin-left: .5em;
}

#submit {
    margin: 5px 0px;
    width: auto;
}

iframe {
    display: block;
    margin: 0 auto;
    padding: 40px;
}

hr {
    margin-top: 100px;
}

footer {
    text-align: center;
    margin: 0 auto;
    padding: 20px;
}