body {
    background: linear-gradient(#abedd86d, #dfcdcd);
    background-repeat: no-repeat;
}

.container {
    margin: 0 auto;
    font-family: 'Shadows Into Light', cursive;
}

.mainHeader {
    margin: 20px;
    padding-left: 10px;
}

h1 {
    display: block;
    text-align: left;
    color: salmon;
    font-stretch: expanded;
}

h2 {
    text-align: center;
    margin: 0 auto;
    color: #0097a7;
    padding: 10px 20px;
}

p {
    text-align: justify;
    font-size: 18px;
    color: #0097a7;
    font-family: 'Open Sans', sans-serif;
}

ul li {
    list-style-type: none;
    padding: 0 20px;
    font-size: 18px;
}

.row {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin: 0 20px;
}

.btn-outline-info {
    position: fixed;
    top: 10px;
    left: 10px;
    width: 40px;
}

a.btn {
    padding: 0;
}

footer {
    text-align: center;
    margin: 0 auto;
    padding: 20px;
}

/* specific to Education.html */

.education {
    text-align: left;
    list-style-type: disc;
}

a.certificateLink {
    text-decoration: none;
    color: #48466D
}

a.certificateLink:hover {
    color: salmon;
}

/* Technology grid */

#technology {
    max-width: 1000px;
    margin: 0 auto;
}

small {
    font-size: 12px;
    line-height: 1.5;
}

.col-2 {
    /*   flex: 0 0 25%; */
    max-width: 100%;
}

.block {
    display: block;
}

.img-fluid {
    max-width: 100%;
    height: auto;
}

.rounded {
    border-radius: .25rem;
}

.center {
    display: block;
    text-align: center;
    margin: 0 auto;
    padding: 20px 20px;
}

.rotating {
    animation: rotating 10s linear infinite;
}

img.techIcon {
    vertical-align: middle;
    border-style: none;
    position: relative;
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
}

@keyframes rotating {
    to {
        transform: rotate(0deg);
    }
    from {
        transform: rotate(360deg);
    }
}

/* specific to SocialMedia.html */

.socialMedia {
    text-align: center;
    font-size: 24px;
}

iframe {
    display: block;
    margin: 0 auto;
    padding: 10px;
    width: 500px;
    height: 315px;
}

a.mySMRef {
    text-decoration: none;
    color: #48466D
}

a.mySMRef:hover {
    color: salmon;
}

/* specific to ContactInfo.html */

.myContactInfo {
    margin: 0 auto;
    padding: 5px;
    text-align: center;
}

form {
    text-align: left;
    display: block;
    margin: 0 auto;
    width: 100%;
    padding: 20px;
    border: 1px solid #111111;
    border-radius: 4px;
}

label {
    display: inline-block;
    width: 90px;
    text-align: left;
}

input, textarea {
    font: 12px 'Open Sans', sans-serif;
    width: 300px;
    box-sizing: border-box;
    border: 1px solid #111111;
}

input:focus, textarea:focus {
    border-color: #111111;
}

textarea {
    vertical-align: top;
    height: 5em;
}

#submit {
    margin: 5px 0px;
    width: auto;
}

#form-not-working {
    text-align: center;
}

/* specific to WorkExperience  */

#git-reference-link {
    text-decoration: none;
    color: #48466D;
}

#git-reference-link:hover {
    color: lightcoral;
}

/* Media queries to resize content */

@media screen and (max-width: 1000px) {
    iframe {
        display: block;
        margin: 0 auto;
        padding: 10px;
        width: 300px;
        height: 300px;
    }
}

@media screen and (max-width: 650px) {
    .btn-outline-info {
        top: 0px;
        left: 0px;
    }
    iframe {
        display: block;
        margin: 0 auto;
        padding: 10px;
        width: 150px;
        height: 150px;
    }
}

@media screen and (max-width: 320px) {}

@-o-viewport {
    zoom: 1;
    width: 100%;
}

@-ms-viewport {
    zoom: 1;
    width: 100%;
}